<!DOCTYPE html>
<html>
<body>

    <div class="fh5co-hero">
        <div class="fh5co-overlay"></div>
        <div class="fh5co-cover" data-stellar-background-ratio="0.5" style="background-image: url(<?php echo SITE_PATH ?>view/images/tesla.jpg);">
            <div class="desc animate-box">
                <div class="container">
                    <div class="row">
                        <div class="col-md-7">
                        <p><span><i class="icon-heart3"> Collaborate with our cause </i>  <a href="http://freehtml5.co" class="fh5co-site-name"></a></span></p>
                        <span><a class="btn btn-primary" href="#">Start Your Search</a></span>
                            <h2> <b></b>   <br>  <b></b>  </h2>
                            
    
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div><!-- end: fh5co-parallax -->
    <!-- end:fh5co-hero -->
<!-- end:fh5co-hero -->


        <div id="fh5co-schedule-section" class="fh5co-lightgray-section">
            <div class="container">
                <div class="row">
                    <div class="col-md-8 col-md-offset-2">
                        <div class="heading-section text-center animate-box">
                            <h2>BRANDS</h2>
                            <p>Search and find the best prices for our cars</p>
                            
                        </div>
                        
                    </div>
                   
                </div>
              
            </div>
            <div class="glider-contain">
              <div class="carousel__list">
                <!-- <button aria-label="Previous" class="glider-prev">«</button>
        <button aria-label="Next" class="glider-next">»</button>  -->
                </div>
               
        </div>

        
        <div role="tablist" class="dots"></div> 
  
   
  </div>

        <br><br>


         <section class="portafolio" id="trabajo">
           <h4 data-ix="slowfade-scroll-bigs">Categories</h4>
           <div id="containerCategories" > 
              </section>  


              
 </div> 

<br><br><br>


<div id="cards-list2">
    <br>
    <br><br><br><br><br>
    <div id="top">  
          <h2>Type Cars</h2>
      </div>
  </div>


<br><br>




   
      <!-- <button aria-label="Previous" class="glider-prev">«</button>
<button aria-label="Next" class="glider-next">»</button>  -->
      </div>

      <div id="fh5co-schedule-section" class="fh5co-lightgray-section">
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-md-offset-2">
                    <div class="heading-section text-center animate-box">
                        <h2>Populars</h2>
                        <p>Search the best prices</p>
                        
                    </div>
                    
                </div>
               
            </div>
          
        </div>
        <div class="glider-contain">
            <div class="popular1">
           
            </div>
           
    </div>

    
    <div role="tablist" class="dots"></div> 


</div>
</div>
  


<div class="tit_rev">
    <h1>Journals</h1>
</div>
<div id="featured"></div>
</body>
</html>