<html>

<body>




  <div id="tyouilo2">
    <div class="fh5co-parallax" style="background-image: url(view/images/home-image-5.jpg);"
      data-stellar-background-ratio="0.5">
      <div class="overlay"></div>
      <div class="containerº">
        <div class="row">
          <div
            class="col-md-8 col-md-offset-2 col-sm-12 col-sm-offset-0 col-xs-12 col-xs-offset-0 text-center fh5co-table">
            <div class="fh5co-intro fh5co-table-cell animate-box">
              <h1 class="text-center">CART</h1>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>




  <br><br>
  <div id="app">

    <!-- Header -->
    <!-- <header class="container_cart">
      <h1>Shopping Cart</h1>
      <ul class="breadcrumb">
        <li>Home</li>
        <li>Shopping Cart</li>
      </ul>
      <span class="count">{{ itemCount }} items in the bag</span>
    </header> -->
    <!-- End Header -->
    <div class="cart_header"></div>


    <div class="cart__products"></div>


    <!-- Summary -->
    <section class="container_cart" v-if="products.length > 0">
      <div class="promotion">
        <label for="promo-code">Have A Promo Code?</label>
        <input type="text" id="promo-code" v-model="promoCode" /> <button type="button"
          @click="checkPromoCode"></button>
      </div>

      <div class="summary">
        <ul>
          <li id="subtotal_element">Subtotal <span>{{ subTotal | currencyFormatted }}</span></li>

          <li id="total_element" class="total">Total <span>{{ totalPrice | currencyFormatted }}</span></li>
        </ul>
      </div>
      <div class="checkout_cart"></div>
      <div class="checkout">
        <button class="checkout-cta" type="button">Check Out</button>
      </div>

    </section>
    <br><br>
    <!-- End Summary -->

</body>

</html>