<br><br> <br><br><br><br><br> <br><br><br><br><br>
<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>


<div class="login-form">
  <h2>Login</h2>
  <br>
  <form id="login__form" method="POST">
    <div class="user-box">

      <label for="user" class="label"></label>

      <input id="username_log" type="text" class="input" name="username_log">
      <span id="error_username_log" class="error"></span>

      <label>Username</label>

    </div>
    <div class="user-box">

      <label for="pass" class="label"></label>

      <input id="passwd_log" type="password" class="input" name="passwd_log">
      <span id="error_passwd_log" class="error"></span>

      <label>Password</label>

    </div>

    <div class="login-button1">
      <a type="submit" id="login" class="button" value="Submit">
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        Submit

      </a>
    </div>
    <br><br>

    <div class="social-login">

      <div class="social-icons">
        <a href="#" class="social-login__icon fab fa-instagram"></a>
        <a href="#" class="social-login__icon fab fa-facebook"></a>
        <a href="#" class="social-login__icon fab fa-twitter"></a>
      </div>
    </div>

    <label style='float: left;'>
      <b class='pink-text' id="linkregister">Not a member?</b>
    </label>

    <label style='float: right;'>
      <b class='pink-text' id="linkrecover">Forgot Password?</b>
    </label>

</div>
</form>
</div>




<div class="forget_html">
  <h2>Enter email</h2>
  <br>
  <br>
  <form id="email_recover_form" method="POST">

    <div class="user-box">

      <label for="pass" class="label"> </label>
      <input id="email_reg_recover" type="email" class="input" name="email_reg_recover">
      <span id="error_email_reg_recover" class="error"></span>

      <label>Email Address</label>

    </div>

    <!-- <div id="login-bttton"><input type="submit" id="login" class="button" value="Submit"></div> -->
    <div class="login-button1">
      <a type="submit" id="button_recover_email" class="button" value="Submit">
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        Submit

      </a>




    </div>
    <br><br>

    <label style='float: right;'>
      <b class='pink-text' id="linkbacklogin">Oh, I remembered</b>
    </label>

</div>
</form>
</div>