<html>

<body>

  <br><br><br><br><br><br> <br><br><br><br><br>
  <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>


  <div class="login-form">
    <h2>Recover Password</h2>
    <br>
    <br>
    <form id="recover_form" method="POST">

      <div class="user-box">

        <label for="pass" class="label"></label>
        <input id="passwd1_rec" type="password" class="input" name="passwd1_rec">
        <span id="error_passwd1_rec" class="error"></span>

        <label>New Password</label>

      </div>

      <div class="user-box">

        <label for="pass" class="label"></label>
        <input id="passwd1_rec_2" type="password" class="input" name="passwd1_rec_2">
        <span id="error_passwd1_rec_2" class="error"></span>

        <label>Repeat New Password</label>

      </div>

      <!-- <div id="login-bttton"><input type="submit" id="login" class="button" value="Submit"></div> -->
      <div class="login-button1">
        <a type="submit" id="recover_btton" class="button" value="Submit">
          <span></span>
          <span></span>
          <span></span>
          <span></span>
          Submit

        </a>
      </div>
      <br><br>

  </div>
  </form>
  </div>













</body>

</html>