<!-- <div class="recover_html">
	<form id="recover_pass_form" method="post">
		<h1>Recover Password</h1>
		<div class="recover">
			<div class="password_recover">
				<label for="pass_rec" class="label">Password: </label>
				<br>
				<input id="pass_rec" name="pass_rec" type="password" class="input">
				<font color="red">
					<br>
					<span id="error_password_rec" class="error"></span>
				</font>
			</div>
            <div class="password_recover_2">
				<label for="pass_rec_2" class="label">Repeat Password: </label>
				<br>
				<input id="pass_rec_2" name="pass_rec_2" type="password" class="input">
				<font color="red">
					<br>
					<span id="error_password_rec_2" class="error"></span>
				</font>
			</div>
			<div class="button_forget">
				<input type="button" class="button" id="button_set_pass" value="Set password">
			</div>
		</div>
	</form>
</div> -->



<html>
<body>

    <br><br><br><br><br><br> <br><br><br><br><br> <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>

  
                <div class="login-form">
                  <h2>Recover Password</h2>
                  <br>
                  <br>
                  <form id="recover_form" method="POST">

                    <div class="user-box">

                      <label for="pass" class="label"></label>
                      <input id="passwd1_rec" type="password" class="input" name="passwd1_rec">
                      <span id="error_passwd1_rec" class="error"></span>

                    <label>New Password</label>

                  </div>

                  <div class="user-box">

                      <label for="pass" class="label"></label>
                          <input id="passwd1_rec_2" type="password" class="input" name="passwd1_rec_2">
                          <span id="error_passwd1_rec_2" class="error"></span>

                      <label>Repeat New Password</label>

                    </div>

                    <!-- <div id="login-bttton"><input type="submit" id="login" class="button" value="Submit"></div> -->
                    <div class="login-button1">
                    <a type="submit" id="recover_btton" class="button" value="Submit">
                      <span></span>
                      <span></span>
                      <span></span>
                      <span></span>
                      Submit
                    
                    </a>
                  </div>
                  <br><br>
                    
                  </div>
                  </form>
                </div>



           
 

           

               

  


</body>
</html>