<html>

<body>
  <br><br><br> <br><br><br><br><br> <br><br><br><br><br> <br><br><br><br><br>
  <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>


  <div class="register__form">
    <h2>Register</h2>
    <br>
    <form id="register__form" method="POST">
      <div class="user-box">

        <label for="user" class="label"></label>
        <input id="username_reg" type="text" class="input" name="username_reg">
        <span id="error_username_reg" class="error"></span>

        <label>Username</label>
        <!-- <input type="text" name="" required="">
                      <label>Username</label> -->

      </div>
      <div class="user-box">

        <label for="pass" class="label"></label>
        <input id="passwd1_reg" type="password" class="input" name="passwd1_reg">
        <span id="error_passwd1_reg" class="error"></span>

        <label>Password</label>

      </div>

      <div class="user-box">

        <label for="pass" class="label"></label>
        <input id="passwd2_reg" type="password" class="input" name="passwd2_reg">
        <span id="error_passwd2_reg" class="error"></span>

        <label>Repeat Password</label>

      </div>

      <div class="user-box">

        <label for="pass" class="label"> </label>
        <input id="email_reg" type="email" class="input" name="email_reg">
        <span id="error_email_reg" class="error"></span>

        <label>Email Address</label>

      </div>

      <!-- <div id="login-bttton"><input type="submit" id="login" class="button" value="Submit"></div> -->

      <a type="submit" id="register" class="button" value="Submit">
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        Submit

      </a>



  </div>




  </form>
  </div>


</body>

</html>