<div class="contact_container">
	<form id="contact_form" method="post">


		<div id="tyouilo2">
			<div class="fh5co-parallax" style="background-image: url(view/images/home-image-5.jpg);" data-stellar-background-ratio="0.5">
				<div class="overlay"></div>
				<div class="containerº">
					<div class="row">
						<div class="col-md-8 col-md-offset-2 col-sm-12 col-sm-offset-0 col-xs-12 col-xs-offset-0 text-center fh5co-table">
							<div class="fh5co-intro fh5co-table-cell animate-box">
								<h1 class="text-center">CONTACT US</h1>
								
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>





		<br>
		<!-- <h1>Contact</h1> -->
		<div class="contact_page">
			<div class="name_contact">
			
				<label for="contact_name" class="label">Name: </label>
				<br>
				<input id="contact_name" name="contact_name" type="text" class="input">
				<font color="red">
					<br>
					<span id="error_contact_name" class="error"></span>
				</font>
			</div>
			<br>
            <div class="email_contact">
			
				<label for="contact_email" class="label">Email: </label>
				<br>
				<input id="contact_email" name="contact_email" type="text" class="input">
				<font color="red">
					<br>
					<span id="error_contact_email" class="error"></span>
				</font>
			</div>
			<br>
			<div class="contact_matter">
			
				<label for="matter" class="label">Matter: </label>
				<br>
				<select name="matter" id="matter">
					<option selected>Seleccione un asunto</option>
					<option>Problemas con la pagina</option>
					<option>Mejoras para la pagina</option>
					<option>Problemas con el registro</option>
					<option>Contacto para una promoción</option>
					<option>Otros</option>
				</select>
				<font color="red">
					<br>
					<span id="error_matter" class="error"></span>
				</font>
			</div>
			<br>
			<div class="contact_message">
			
				<label for="message" class="label">Message: </label>
				<br>
				<textarea rows="4" cols="30" name="message" id="message"></textarea>
				<font color="red">
					<br>
					<span id="error_message" class="error"></span>
				</font>
			</div>
			<div class="button_contact">
				<input type="button" class="button" name="send_contact" id="send_contact" value="Send">
			</div>
		</div>
	</form>
</div>
<br> 



<!-- <div id="fh5co-contact">
	<div class="container">
		<form action="#">
			<div class="row">
				<div class="col-md-6 animate-box">
					<h3 class="section-title">Our Address</h3>
					<p>Write here something you want to tell us.
					</p>
					<ul class="contact-info">
						<li><i class="icon-location-pin"></i>198 West 21th Street, Suite 721 New York NY 10016</li>
						<li><i class="icon-phone2"></i>+ 1235 2355 98</li>
						<li><i class="icon-mail"></i><a href="#">ecosport@gmail.com</a></li>
						<li><i class="icon-globe2"></i><a href="#">www.ecosport.com</a></li>
					</ul>
				</div>
				<div class="col-md-6 animate-box">
					<div class="row">
						<div class="col-md-6">
							<div class="form-group">
								<input type="text" class="form-control" placeholder="Name">
							</div>
						</div>
						<div class="col-md-6">
							<div class="form-group">
								<input type="text" class="form-control" placeholder="Email">
							</div>
						</div>
						<div class="col-md-12">
							<div class="form-group">
								<textarea name="" class="form-control" id="" cols="30" rows="7" placeholder="Message"></textarea>
							</div>
						</div>
						<div class="col-md-12">
							<div class="form-group">
								<input type="submit" value="Send Message" class="btn btn-primary">
							</div>
						</div>
					</div>
				</div>
			</div>
		</form>
	</div>
</div> -->