

<div id="fh5co-wrapper">
	
	<div id="fh5co-page">
	<div id="fh5co-header">
	<header id="fh5co-header-section">
			<div class="container">
				
				<div class="nav-header">
					<a href="#" class="js-fh5co-nav-toggle fh5co-nav-toggle"><i></i></a>
					<h1 id="fh5co-logo"><a href="?module=home">EcO<span>Sport</span></a></h1>
					
					

					<nav id="fh5co-menu-wrap" role="navigation">
						<ul class="sf-menu" id="fh5co-primary-menu">


						
							<li>

								<div class="nav_h"></div>

							</li>
							<li>

								<div class="nav_s"></div>

							</li>
							<li>

								<div class="nav_c"></div>

							</li>

							<li>
								<a href="#"></a>
							</li>
							<li>
								
								<a href="#"></a>
							</li>

							<li>
								
								<a href="#"></a>
							</li>

							<li class="steamie">
								
								<div class="nav_l">

									<div class="steambutton">
										<div class="sign-in">Sign in through</div>
										<div class="steam">ECOSPT</div>
										<div class="mech armendbig"></div>
										<div class="mech arm"></div>
										<div class="mech armendsmall"></div>
										<div class="mech axelshadow"></div>
										<div class="mech axel"></div>
										<div class="mech otherarmshadow"></div>
										<div class="mech otherarm"></div>
										<div class="mech otherarmfiller"></div>
										</div>

								</div>

							</li> 
							

						</ul>

					</nav>


					<div id="dropmenu"></div>


					<!-- <br><br><br> -->

				


				<div class="div_search" style="display: inline; width: 5%; height: 5%;">
					<div class="wrap">
						<div class="search">
							<select class="search_brand"></select>
							<select class="search_category"></select>
						   <input type="text" id="autocom" class="searchTerm" autocomplete="off" placeholder="Select City">
						   <div id="search_auto"></div>
						   <button type="submit" value="search" class="searchButton" id="search-btn">
							 <i class="fa fa-search"></i>
						  </button>
						</div>
					 </div>
				</div>


					<br><br>
				
					
							<div id="dropmenu"></div>
							
					
				</div>
			</div>
<br><br><br><br>


		

		</header>		
	</div> 
