<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>ECOsport</title>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.11.4/jquery-ui.css" />
    	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.0.0-beta1/jquery.js"></script>
    	<script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
		
    	
										<!-- JS -->

		<!-- <script type="text/javascript" src="<?php echo JS_VIEW_CONTACT ?>contact_list.js"></script> -->
		<script type="text/javascript" src="<?php echo SITE_PATH ?>view/js/utils.js"></script>
		<script type="text/javascript" src="<?php echo JS_VIEW_HOME ?>controller_home.js"></script>
		<script src="<?php echo SITE_PATH ?>module/search/view/js/ctrl_search.js"></script>
		<script type="text/javascript" src="<?php echo SITE_PATH ?>view/js/activity_user.js"></script>

									<!-- JS TEMPLATE-->
		
	<script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>

	<script src="<?php echo SITE_PATH ?>view/js/jquery.min.js" ></script>
	<!-- jQuery Easing -->
	<script src="<?php echo SITE_PATH ?>view/js/jquery.easing.1.3.js"></script>
	<!-- Bootstrap -->
	<script src="<?php echo SITE_PATH ?>view/js/bootstrap.min.js"></script>
	<!-- Waypoints -->
	<script src="<?php echo SITE_PATH ?>view/js/jquery.waypoints.min.js"></script>
	<!-- Stellar -->
	<script src="<?php echo SITE_PATH ?>view/js/jquery.stellar.min.js"></script>
	<!-- Superfish -->
	<script src="<?php echo SITE_PATH ?>view/js/hoverIntent.js"></script>

	<script src="<?php echo SITE_PATH ?>view/js/superfish.js"></script>

	<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/js/all.min.js"></script>
									<!-- Main JS (Do not remove) -->
	<script src="<?php echo SITE_PATH ?>view/js/main.js"></script>

	<script src="<?php echo SITE_PATH ?>view/glider/glider.js"></script>
											<!-- META -->
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>Fitness &mdash; 100% Free Fully Responsive HTML5 Template by FREEHTML5.co</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="Free HTML5 Template by FREEHTML5.CO" />
	<meta name="keywords" content="free html5, free template, free bootstrap, html5, css3, mobile first, responsive" />
	<meta name="author" content="FREEHTML5.CO" />



  	<!-- Facebook and Twitter integration -->
	<meta property="og:title" content=""/>
	<meta property="og:image" content=""/>
	<meta property="og:url" content=""/>
	<meta property="og:site_name" content=""/>
	<meta property="og:description" content=""/>
	<meta name="twitter:title" content="" />
	<meta name="twitter:image" content="" />
	<meta name="twitter:url" content="" />
	<meta name="twitter:card" content="" />

	<!-- Place favicon.ico and apple-touch-icon.png in the root directory -->

	<link rel="shortcut icon" href="favicon.ico">

	<link href='https://fonts.googleapis.com/css?family=Roboto:400,100,300,700,900' rel='stylesheet' type='text/css'>
	
		
							<!-- CSS -->

	<!-- Animate.css -->
	<link rel="stylesheet" href = "<?php echo SITE_PATH ?>view/css/animate.css">
	
	<!-- Icomoon Icon Fonts-->
	<!-- <link rel="stylesheet" href="<?php echo SITE_PATH ?>view/css/icomoon.css"> -->
	<!-- Bootstrap  -->
	<link rel="stylesheet" href="<?php echo SITE_PATH ?>view/css/bootstrap.css">
	<!-- Superfish -->
	<link rel="stylesheet" href="<?php echo SITE_PATH ?>view/css/superfish.css">

	<link rel="stylesheet" href="<?php echo SITE_PATH ?>view/css/style_contact.css">

	<link rel="stylesheet" href="<?php echo SITE_PATH ?>view/css/style.css">

	<link rel="stylesheet" href="<?php echo SITE_PATH ?>view/css/style2.css">

    <link rel="stylesheet" href="<?php echo SITE_PATH ?>view/css/stylehome.css">

	<link rel="stylesheet" href="<?php echo SITE_PATH ?>view/css/login.css">

	<link rel="stylesheet" href="<?php echo SITE_PATH ?>view/css/dropmenu.css">

	<link rel="stylesheet" href="<?php echo SITE_PATH ?>view/css/search_style.css">

	<link href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css" rel="stylesheet"/>

	<link href="<?php echo SITE_PATH ?>view/glider/glider.css" rel="stylesheet" type="text/css" />
	
	<link href="https://fonts.googleapis.com/css?family=Baloo+Bhaina" rel="stylesheet">

	<!-- Modernizr JS -->
	<!-- <script src="js/modernizr-2.6.2.min.js"></script> -->

	

	<!-- fontawesome -->

	<!-- <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" /> -->
       


		
    </head>
    <body>

