<html>

<head>

</head>

<body>

    <div id="tyouilo2">
        <div class="fh5co-parallax" style="background-image: url(<?php echo SITE_PATH ?>view/images/home-image-4.jpg);"
            data-stellar-background-ratio="0.5">
            <div class="overlay"></div>
            <div class="container">
                <div class="row">
                    <div
                        class="col-md-8 col-md-offset-2 col-sm-12 col-sm-offset-0 col-xs-12 col-xs-offset-0 text-center fh5co-table">
                        <div class="fh5co-intro fh5co-table-cell animate-box">
                            <h1 class="text-center">SHOP</h1>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="tyouilo">
        <div id="fh5co-schedule-section" class="fh5co-lightgray-section">
            <div class="container">
                <div class="row">
                    <div class="col-md-8 col-md-offset-2">
                        <div class="heading-section text-center animate-box">
                            <h2>FOR SALE!</h2>
                            <p>Take a look and find the best prices!</p>
                            <br>
                            <div class="filters"></div>

                            <br><br><br>
                            <div id="div-map">
                                <div id="map"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <br>




    <br>

    <div class="container">
        <div class="well well-sm">
            <strong>Display</strong>
            <div class="btn-group">
                <a href="#" id="list" class="btn btn-default btn-sm">
                    <span class="glyphicon glyphicon-th-list"></span>
                    List
                </a>
                <a href="#" id="grid" class="btn btn-default btn-sm">
                    <span class="glyphicon glyphicon-th"></span>
                    Grid


                </a>






            </div>
        </div>




        <br>
        <div id="products" class="row list-group">

            <div id="containerShop"></div>
            <div id="containerShop" id="content_shop_cars"></div>
        </div>

        <br>

        <div id="pagination"></div>

        <div id="details-shop">
            <div class="glider-contain">
                <div class="date_img"></div>
                <button aria-label="Previous" class="glider-prev">«</button>
                <button aria-label="Next" class="glider-next">»</button>
                <div role="tablist" class="dots"></div>
            </div>
            <div class="date_car" id="container-date-img"></div>
            <br>
            <div id="map-details-1">
                <div id="div-map">
                    <div id="map"></div>
                </div>
            </div>
            <div class="results"></div>
        </div>

    </div>
</body>

</html>